<h1>Log In Below:</h1>
<form action="/sessions" method="POST">

    <label_for="email">Email</label>
    <input name="email" type="text"><br>

    <label_for="password">Password</label>
    <input name="password" type="text"><br>

    <input type="submit" value="Log In">

</form>

