<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    <label_for="name">Name</label>
    <input name="name" type="text"><br>

    <label_for="email">Email</label>
    <input name="email" type="text"><br>

    <label_for="password">Password</label>
    <input name="password" type="text"><br>

    <input type="submit" value="submit">


</form>

